/*!	\file subwcrev.h
	\brief File that defines the macros to set revision and build data
*/

#ifndef SUBWCREV_H
#define SUBWCREV_H

#define _SVN_REVISION "$WCREV$"				/*!< highest commit revision in the working copy */
#define _SVN_REV_DATE "$WCDATE$"		/*!< commit date/time of the highest commit revision */
#define _SVN_BUILD_DATE "$WCNOW$"	/*!< build date/time */
#define _SVN_RANGE "$WCRANGE$"			/*!< update revision range in the working copy */
#define _SVN_MIXED "$WCMIXED?1:$"				/*!< "+" if there are mixed update revisions */
#define _SVN_MODS "$WCMODS?1:$"				/*!< "M" if there are local modifications */
#define _SVN_URL "$WCURL$"			/*!< repository URL of the working copy */

#endif 	/* SUBWCREV_H */
